<section #aboutMe class="about-me relative overflow-hidden w-full border-2 border-red-500">
  <div #terminal class="terminal flex md:h-[100dvh] lg:h-[100dvh] xl:h-[100dvh] relative overflow-hidden  z-0 h-auto w-full">
    <img src="/assets/terminal.png" alt="terminal"  class="w-full h-auto">

    <div class="title flex absolute z-1 top-[12%] left-1/4 sm:text-xs lg:text-3xl border-2 border-green-500">
          <p class=" flex text-white">lorum ipsum loram ipsum</p>
    </div>
  </div>
  <div #profile class="profile absolute z-10 top-[23%] left-[60%] border-2 border-red-500"
  >
    <img src="/assets/photo.png" class="grayscale flex md:h-full lg:h-full xl:h-full" alt="profile" [style.height.px]="profileHeight"
         [style.width.px]="profileWidth">
  </div>
</section>
